th {
  cursor: pointer;
  background-color: #f2f2f2;
  align-items: center;
  align-content: center;
}

tr:hover {
  background-color: #f9f9f9;
  align-items: center;
  align-content: center;
  height: 2rem;
  width: 100%;
  border: 1px solid;
}

td {
  background-color: #f9f9f9;
  align-items: center;
  align-content: center;
  height: 2rem;
  width: 10rem;
  border: 1px solid;
  padding-left: 1rem;
}